.card {
  width: 18rem;
}

.StyleIt {
  font-size: 22px;
  color: black;
}
* {
  box-sizing: border-box;
}
#marginZero {
  padding: 66px;
}


.buttonPad {
  padding: 0px;
  margin: 0px;
}
.borderIt {
  padding: 66px;
}
.cardImg {
  height: 233px;
  width: 266px;
}
.mainCont {
  margin-bottom: 33px;
  display: flex;

  /* margin-right: 33px; */
}
.padAno {
  /* padding: 33px; */
}
.btn-read {
  padding: 12px 36px;
  background: burlywood;
  font-weight: bolder;
}
.btn-read:hover {
  padding: 12px 36px;
  background: saddlebrown;
  color: wheat;
}
@media screen and (max-width: 1110px) {
  #marginZero {
    /* margin-left: 66px; */
  }
  .borderIt {
    border: 1px solid saddlebrown;

    padding: 13px;
  }
  .btn-read{
    padding: 6px 18px;
  }
  .cardImg {
    height: 133px;
    width: 166px;
  }
  .title {
    /* margin-top: 33px; */
  }
}
